Part_0/.DS_Store
Part_1/anecdotes/node_modules
Part_1/courseinfo/node_modules
Part_1/part1/node_modules
Part_1/unicafe/node_modules

Part_2/part2_a/node_modules
Part_2/countries/node_modules
Part_2/courseinfo/node_modules
Part_2/phonebook/node_modules

Part_3/backend/node_modules
Part_3/phonebook_backend/node_modules
